<h1>Obligatorio PJA</h1>
<button (click)="modeTOS()">ABM Tipo de Objetos</button>
<button (click)="modeObjetos()">ABM Objetos</button>
<div *ngIf="!abmObjetos">
  <h2>Tipo de objetos</h2>
  <div>
    <table>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th></th>
        <th></th>
      </tr>

      <tr *ngFor="let to of tos" (click)="selectTO(to)">
        <td>{{to.code}}</td>
        <td>{{to.name}}</td>
        <td><button (click)="deleteTO(to)">Eliminar</button></td>
        <td><button (click)="modifyTO(to)">Modificar</button></td>
      </tr>
    </table>
    </div>
    <br/>
    <div *ngIf="!modifyForm">
      <h3>Formulario de entrada</h3>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <input type="text" ngModel name="code" placeholder="Ingrese el código..." />
        <br/>
        <input type="text" ngModel name="name" placeholder="Ingrese el nombre..." />
        <br/>
        <button type="submit">Ingresar</button>
      </form>
  </div>

  <div *ngIf="modifyForm">
    <h3>Formulario de modificación</h3>
    <form (ngSubmit)="onModifySubmit(modF)" #modF="ngForm">
      <input type="text" ngModel disabled name="_id" />
      <br />
      <input type="text" ngModel name="code" placeholder="Ingrese el código..." />
      <br/>
      <input type="text" ngModel name="name" placeholder="Ingrese el nombre..." />
      <br/>
      <button type="submit">Modificar</button>
      <br />
      <button (click)="backToCreate()">Volver a ingresar</button>
    </form>
  </div>
</div>

<div *ngIf="abmObjetos">
    <h2>Objetos</h2>
    <div>
      <table>
        <tr>
          <th>Estado</th>
          <th>Orden</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Precio base</th>
          <th></th>
          <th></th>
        </tr>
  
        <tr *ngFor="let obj of objs">
          <td>{{obj.state[0]}}</td>
          <td>{{obj.orderNumber}}</td>
          <td>{{obj.type}}</td>
          <td>{{obj.description}}</td>
          <td>{{obj.basePrice}}</td>
          <td><button (click)="deleteOBJ(obj)">Eliminar</button></td>
          <td><button (click)="modifyOBJ(obj)">Modificar</button></td>
        </tr>
      </table>
      </div>
      <br/>
      <div *ngIf="!modifyForm">
        <h3>Formulario de entrada</h3>
        <form (ngSubmit)="onObjectSubmit(f)" #f="ngForm" ng>
          <select name="state" [(ngModel)]="selectedState" class="form-control input-sm">
              <option *ngFor="let c of ['excelente', 'bueno', 'aceptable', 'malo', 'hecho percha']" value="{{c}}">{{c}}</option>
          </select>
          <br/>
          <input type="text" ngModel name="orderNumber" placeholder="Número de orden" />
          <br/>
          <select class="form-control input-sm" [(ngModel)]="selectedType" name="type" class="form-control input-sm">
              <option *ngFor="let c of tos" value="{{c._id}}">{{c.name}}</option>
          </select>
          <br/>
          <input type="text" ngModel name="description" placeholder="Descripción" />
          <br/>
          <input type="text" ngModel name="basePrice" placeholder="Precio base" />
          <br/>
          <button type="submit">Ingresar</button>
        </form>
    </div>

    <div [style.visibility]="!modifyForm? 'hidden': 'visible'">
      <h3>Formulario de modificación</h3>
      <form (ngSubmit)="onModifySubmitOBJ(modObjF)" #modObjF="ngForm">
        <input type="text" ngModel disabled name="_id" />
        <br/>
        <select name="state" [(ngModel)]="selectedState" class="form-control input-sm">
          <option *ngFor="let c of ['excelente', 'bueno', 'aceptable', 'malo', 'hecho percha']" value="{{c}}">{{c}}</option>
        </select>
        <br/>
        <input type="text" ngModel name="orderNumber" placeholder="Número de orden" />
        <br/>
        <select class="form-control input-sm" [(ngModel)]="selectedType" name="type" class="form-control input-sm">
            <option *ngFor="let c of tos" value="{{c._id}}">{{c.name}}</option>
        </select>
        <br/>
        <input type="text" ngModel name="description" placeholder="Descripción" />
        <br/>
        <input type="text" ngModel name="basePrice" placeholder="Precio base" />
        <br/>
        <button type="submit">Modificar</button>
        <br/>
        <button (click)="backToCreate()">Volver a ingresar</button>
      </form>
    </div>
  </div>